.cart-grid {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cart-header {
  text-align: center;
  font-size: 2rem;
  margin: 1rem 0;
}
.checkout-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart-btn-link {
  text-decoration: none;
  color: white;
}
